<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/" href="#">Digital Book</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <!-- <a class="nav-link" routerLink="/author" href="#">Add Book</a> -->
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/searchBook" href="#">Search Book</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  *ngIf=authservice.isLoggedIn() routerLink="/showBooks" href="#">Show Books</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  *ngIf=authservice.isLoggedIn() routerLink="/author" href="#">Add Books</a>
        </li>
      </ul>
      <span class="navbar-text" routerLink="/signin" *ngIf=!authservice.isLoggedIn() style="cursor: pointer;">
       Sign In
      </span>
      <span class="navbar-text" (click)="logout()" *ngIf=authservice.isLoggedIn() style="cursor: pointer;">
        Log out
       </span>

      <span class="navbar-text" routerLink="/signup" id="signup" style="cursor: pointer;">
        Sign Up
       </span>
    </div>
  </div>
</nav>