<h1 style="font-style: italic;color: green;">
    Digital Book CTS
</h1>
<br>
<br>
<h3> Digital_book,Please select your roles</h3>
    <p style="text-align: left;">
        <a class="nav-link" routerLink="/author" href="#">Author</a>
    </p>
    <br>
    <p style="text-align: left;">
        <a class="nav-link" routerLink="/reader" href="#">Reader</a>
    </p>
<br>
<br>

    <p>
        <b> Author: </b> Author can create the book save the book and edit the book or block the book.
    </p>
    <p>
       <b>Reader: </b> Reader can search books based on criteria such as categor or price or author.
    </p>
