<svg xmlns="http://www.w3.org/2000/svg" width="46" height="36" fill="currentColor" class="bi bi-backspace-fill"
  viewBox="0 0 16 16">
  <path *ngIf="isEditSelected" style="cursor: pointer;" (click)="showListBook()"
    d="M15.683 3a2 2 0 0 0-2-2h-7.08a2 2 0 0 0-1.519.698L.241 7.35a1 1 0 0 0 0 1.302l4.843 5.65A2 2 0 0 0 6.603 15h7.08a2 2 0 0 0 2-2V3zM5.829 5.854a.5.5 0 1 1 .707-.708l2.147 2.147 2.146-2.147a.5.5 0 1 1 .707.708L9.39 8l2.146 2.146a.5.5 0 0 1-.707.708L8.683 8.707l-2.147 2.147a.5.5 0 0 1-.707-.708L7.976 8 5.829 5.854z" />
</svg>

<div id="box" *ngIf="!isEditSelected">
  <h3 style="text-align: center;">List of Books</h3>
  <br>
  <div id="items">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <!-- <th scope="col">Id</th> -->
          <th scope="col">Image</th>
          <th scope="col">Title</th>
          <th scope="col">Category</th>
          <th scope="col">Price</th>
          <th scope="col">Publisher</th>
          <th scope="col">Active</th>
          <th scope="col">Author Name</th>
          <th scope="col">Publish Date</th>
          <th scope="col">Content</th>
          <th scope="col">Actions</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody *ngFor="let book of listOfBooks;index as i">
        <tr>
          <td>
            <img src={{book.image}} alt="No Image"  style="width: 60px;height: 60px;">
          </td>
          <td>
            {{book.title}}
          </td>
          <td>
            {{book.category}}
          </td>
          <td>
            {{book.price}}
          </td>
          <td>
            {{book.publisher}}
          </td>
          <td>
            {{book.active}}
          </td>
          <td>
            {{book.authorName}}
          </td>
          <td>
            {{book.publishDate|date}}
          </td>
          <td>
            {{book.content}}
          </td>
          <td>
            <button type="button" (click)="deleteBook(book,i)" class="btn btn-danger">Delete</button>
          </td>
          <td>
            <button type="button" (click)="editBook(book)" class="btn btn-warning">Edit</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div id="box1" *ngIf="isEditSelected">
 
  <h3 style="text-align: center;">Update Book</h3>

  <div id="items">
    <img src={{book.image}} alt="No Image" style="width: 90px;height: 90px;">
    <br>
    <br>
    <div class="form-floating mb-3">
      <input type="text" [(ngModel)]=book.title class="form-control" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Title</label>
    </div>
    <div class="form-floating mb-3">
      <input type="text" [(ngModel)]=book.category class="form-control" id="floatingInput"
        placeholder="name@example.com">
      <label for="floatingInput">Category</label>
    </div>
    <div class="form-floating mb-3">
      <input type="text" [(ngModel)]=book.image class="form-control" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Image</label>
    </div>
    <div class="form-floating mb-3">
      <input type="number" [(ngModel)]=book.price class="form-control" id="floatingInput"
        placeholder="name@example.com">
      <label for="floatingInput">Price</label>
    </div>
    <div class="form-floating mb-3">
      <input type="text" [(ngModel)]=book.publisher class="form-control" id="floatingInput"
        placeholder="name@example.com">
      <label for="floatingInput">Publisher</label>
    </div>
    <div class="form-floating mb-3">
      <input type="date" [(ngModel)]=book.publishDate class="form-control" id="floatingInput"
        placeholder="name@example.com">
      <label for="floatingInput">Publisher Date</label>
    </div>
    <!-- <div class="form-floating mb-3">
          <input type="text" [(ngModel)]=book.active  class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Active</label>
        </div> -->
    <div class="form-floating">
      <select class="form-select" [(ngModel)]=book.active id="floatingSelect"
        aria-label="Floating label select example">
        <option value="active">Active</option>
        <option value="Inactive">InActive</option>
      </select>
      <label for="floatingSelect">Select active or Inactive</label>
    </div>
    <br>
    <div class="form-floating mb-3">
      <textarea class="form-control" [(ngModel)]=book.content class="form-control" id="floatingInput"
        placeholder="name@example.com" rows="3"></textarea>
      <label for="floatingInput">Content</label>
    </div>
    <button type="button" (click)="updateBook()" style="margin-bottom: 20px;" class="btn btn-success">Update</button>
  </div>

</div>